<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
    </head>
    <body>
        <h1>Welcome to the Waste Management System</h1>
        <ul>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/add_food">Add Food</a></li>
            <li><a href="/get_matches">Get Matches</a></li>
        </ul>
    </body>
    </html>